
@{
    Layout = "";
    ViewBag.TEXT = "<strong style ='color: red;'>123</strong>";
}

@DateTime.Now;

@(1+2)

@if (ViewBag.IsEnabled)
{
    <span>啟用</span>
}
else
{
    <span>停用</span>
}
<a href="mailto:teacher@example.com">teacher@example.com</a>
@ViewBag.TEXT

@Html.Raw(ViewBag.TEXT)

<h2>練習Razor用的View</h2>